body	{background-color:white}
table	{border-spacing:5px; font-size:16px; font-family:verdana;}
td		{height:10px}
div		{font: 16px ;font-family:Roboto}
text	{height:30px}
input 	{width:200px;height:25px;}
select	{width:200px;height:25px;font-size:16px}

#imagen_upload{width:200px;height:150;}

#btnSubida{font-size:16px;top:20px;left:40px}

#container { width: 530px; height: 600px; background-color: #eee; position: relative; top: 0px; border: 1px solid black; border-radius: 10px; margin: 0 auto;box-shadow: 6px 6px 12px #999;}

@media only screen and (min-width : 320px) and (max-width : 767px) and (orientation : portrait){
	nput {
    height: auto;
    width: auto;
    font-size: 12px;
	}
	#container {
    width: 100%;
    height: 100%;
    background-color: #74CCF5;
    left: 0;
    top: 45px;
    border: 1px solid black;
    font-size: 12px;
    border-radius: 0px;
	position: relative;
	}
}
	